:host {
    background-color: gold;
    flex-grow: 0;
}

.menuBlue {
    color: blue;
    font-size: larger;
    font-weight: bolder;
}

.menuGreen {
    color: green;
    font-size: larger;
    font-weight: bolder;
}