<br/>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">Blue bank</h1>
    </div>
    <div class="panel-body">

      <div class="form-group-lg">
        <label for="balance" class="col-sm-3 control-label blue">Current Account Balance:</label>
        <div class="col-sm-7">
          <input [ngModel]="balance" type="text" name="" id="balance" class="form-control" required="required" readonly>
        </div>
      </div>

      <br />
      <br />
      <br />

      <form #form="ngForm" (ngSubmit)="transfer()" novalidate autocomplete="off">

        <div class="form-group-lg">

          <label for="amount" class="col-sm-3 control-label green">Amount to Transfer to Green:</label>

          <div class="col-sm-7">
            <input [(ngModel)]="amount" type="number" id="amount" name="amount" class="form-control" required="required" placeholder="Amount to transfer">
            <em *ngIf="(form.controls.amount?.invalid && form.controls.amount?.touched) || mouseOverTransfer && form.form.invalid">Required</em>
          </div>

          <span (mouseenter)="mouseOverTransfer=true" (mouseleave)="mouseOverTransfer=false">
            <button type="submit" [disabled]="form.form.invalid" class="btn btn-lg btn-success col-sm-2">Transfer</button>
          </span>

        </div>

      </form>

    </div>
  </div>
</div>