<br/>
<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 class="panel-title">Green bank</h1>
    </div>
    <div class="panel-body">

        <div class="form-group-lg">
            <label for="balance" class="col-sm-3 control-label green">Current Account Balance:</label>
            <div class="col-sm-7">
              <input [ngModel]="balance" type="text" name="" id="balance" class="form-control" required="required" readonly>
            </div>
          </div>
    
          <br />
          <br />
          <br />
    
          <div class="form-group-lg">
            <label for="amount" class="col-sm-3 control-label blue">Amount to Transfer to Blue:</label>
            <div class="col-sm-7">
              <input [(ngModel)]="amount" type="number" name="" id="amount" class="form-control" value="" required="required" >
            </div>
            <button type="button" (click)="transfer()" class="btn btn-lg btn-primary col-sm-1">Transfer</button>
          </div>
    
    </div>
  </div>
</div>